:root{
    --color-nav-bg: hsl(0 0% 0% / .1);
    --color-nav-bg-unsupported: hsl(0 0% 0% / .5);
}

$primary-black: black;
  
$primary-color: #21B6AD;

$body-bottom-right-gradient: rgba(40,43,59,1);
$body-top-left-gradient: rgba(72,84,97,1);