/* Skills section */

.skills-showcase{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 62.5%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem 0;
    width: 100%;
}


.skills-showcase > *{
    flex: 1 1 10em;
    margin: .5rem;
    color: white;
    text-align: center;
    background-color: rgba(40,43,59,1);
    border-radius: 15px;
    padding: 1rem 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
    box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
}

.item p::first-letter{
    text-transform: capitalize;
}

.item:hover{
    box-shadow: 0 5px 28px var(--primary);
    cursor: default;
}
.item p{
    margin-top: 8px;
}

.item img{
    width: 35px;
    height: 35px;
    margin-top: 25px;
}


#about p{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 62.5%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 20px;
    padding: 2rem;
}

#contact{
    width: 100% !important;
}


#contact p{
    max-width: 700px;
    text-align: center;
}

#top-message{
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    height: 25px;
    background: var(--primary-darker);
    top: 0px;
}
